<div class="head">
    <nav class="navigation">
        <img src="/assets/img/logo.png">
        <a (click)="toHome()" routerLink="site-hello" routerLinkActive="active">Home</a>
        <a (click)="toSkills()" routerLink="/skills" routerLinkActive="active">Meine Skills</a>
        <a (click)="toMyWork()" routerLink="/mywork" routerLinkActive="active">Meine Arbeiten</a>
        <a (click)="toAbout()" routerLink="/about" routerLinkActive="active">Über mich</a>
        <a href="#">Datenschutzerklärung</a>
    </nav>
</div>