.body {
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-sector {
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    p {
        font-family: sans-serif;
        color: rgb(216, 216, 216);
        margin-bottom: 10px;
    }
}

.picture {
    img {
        width: 100px;
        height: 100px;
        border-radius: 100px;
        margin-left: 32px;
        margin-right: 48px;
    }
}

h2 {
    font-family: sans-serif;
    color: rgb(216, 216, 216);
}

.second-sector {
    width: 100%;
    margin-left: 80px;
    margin-right: 80px;
    border-top-color: rgb(45, 252, 216);
    border-top-style: solid;
    border-bottom-width: 1px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .journey {
        display: flex;
        flex-direction: column;
        justify-content: center;
        

        img {
            width: 35px;
            background-color: rgb(45, 252, 216);
            margin-top: 32px;
            border-radius: 50px;
            padding: 5px;
        }
    }
}
