<div id="about" class="body">
    <div class="first-sector">
        <div class="picture"><img src="/assets/img/Benjamin-Tischoff.png"></div>
        <div class="text">
            <h2>Über mich</h2><br>
            <p>Am liebsten unternehme ich etwas mit meiner Familie</p>
            <p>Aber genauso wichtig ist für mich, immer etwas neues zu
                lernen und vor neuen Herausforderungen zu stehen</p>
        </div>
    </div>
    <div class="second-sector">
        <div class="journey"><img src="/assets/img/picture_1.png">
            <h4 class="abstand">Wie alles begann</h4>
            <p>Zuerst lernte ich den Beruf Offsetdrucker/Mediengestalter und arbeitete 20 Jahre darin</p>
            <p>Danach schulte ich zum Heilpraktiker um und arbeitete 10 Jahre darin im Vollerwerb selbständig</p>
            <p>2021 Ausbildung in der Developer-Akademie zu Frontend-Entwickler</p>
            <p>Seit Okt.2021 Arbeit in Vollzeit als Softwaretester</p>
        </div>
        <div class="journey"><img src="/assets/img/picture_2.png">
            <h4>Wie ich mich verliebte</h4>
            <p>Die Entwicklung von Software hat mir schon seit der Schulzeit Spaß gemacht und mich seitdem nicht mehr losgelassen</p>
        </div>
        <div class="journey"><img src="/assets/img/picture_3.png">
            <h4>Ich suchte</h4>
            <p>Mir wurde klar, dass ich mehr wollte. Ich wollte mein Hobby zum Beruf machen. 
                Also habe ich mich auf die Suche gemacht und die Developer Academy gefunden.</p>
        </div>
        <div class="journey"><img src="/assets/img/picture_4.png">
            <h4>Neue Herausforderungen</h4>
            <p>Ich suche jetzt nach neuen Herausforderungen, um als Softwareentwickler zu arbeiten.</p>
        </div>
    </div>
</div>