<div class="body">
    <div class="first-sector">
        <div class="picture"><img src="/assets/img/Benjamin-Tischoff.png"></div>
        <div class="text">
            <h2>Über mich</h2><br>
            <p>Am liebsten unternehme ich etwas mit meiner Familie</p>
            <p>Aber genauso wichtig ist für mich, immer etwas neues zu
                 lernen und vor neuen Herausforderungen zu stehen</p>
        </div>
    </div>
    <div class="second-sector">
        <div class="journey"><img src="/assets/img/picture_1.png"></div>
        <div class="journey"><img src="/assets/img/picture_2.png"></div>
        <div class="journey"><img src="/assets/img/picture_3.png"></div>
        <div class="journey"><img src="/assets/img/picture_4.png"></div>
    </div>
</div>