<div id="work" class="mywork-body">
    <h1>Meine Arbeiten</h1>
    <div class="first-row">
        <div class="window1"><img class="computer" src="/assets/img/comp.png"><img class="pollo" src="/assets/img/Polloloco.png"></div>
        <div class="window"><img class="computer" src="/assets/img/comp.png"><img class="kochwelt" src="/assets/img/kochwelt.png"></div>
    </div>
    <div class="first-row">
        <div class="window"><img class="computer" src="/assets/img/comp.png"><img class="kanban" src="/assets/img/kanban.png"></div>
        <div class="window"><img class="computer" src="/assets/img/comp.png"><img class="tictactoe" src="/assets/img/tictactoe.png"></div>
    </div>
</div>